<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Mantenimiento</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link th:href="@{/styles/cssandjs/Mantenimiento.css}" rel="stylesheet" />

</head>

<body>
	<div class="container">
		<nav class="navbar">

			<ul>
				<li class="item active">
					<i class='bx bxs-dashboard'> <a href="/login/Mantenimiento"
							target="miContenedor"><img src="https://cdn-icons-png.flaticon.com/512/686/686317.png" alt="Logo" width="30" height="24" ><span>Cliente</span></a></i>
				</li>
			</ul>
<!--			otro-->
			<ul>
				<li class="item active">
					<i class='bx bxs-dashboard'> <a href="/login/Mantenimiento"
							target="miContenedor"><img src="https://cdn-icons-png.flaticon.com/512/35/35097.png" alt="Logo" width="30" height="24" ><span>Mascota</span></a></i>
				</li>
			</ul>
			<!--			otro-->
			<ul>
				<li class="item active">
					<i class='bx bxs-dashboard'> <a href="/login/Mantenimiento"
							target="miContenedor"><img src="https://e7.pngegg.com/pngimages/634/858/png-clipart-computer-icons-bulldog-pet-web-typography-vektor-miscellaneous-paw.png" alt="Logo" width="30" height="24" ><span>Raza</span></a></i>
				</li>
			</ul>
			<!--			otro-->
			<ul>
				<li class="item active">
					<i class='bx bxs-dashboard'> <a href="/login/Mantenimiento"
							target="miContenedor"><img src="https://cdn-icons-png.flaticon.com/512/404/404053.png" alt="Logo" width="30" height="24" ><span>Producto o Servicio</span></a></i>
				</li>
			</ul>
			<!--			otro-->
			<ul>
				<li class="item active">
					<i class='bx bxs-dashboard'> <a href="/login/Mantenimiento"
							target="miContenedor"><img src="https://img2.freepng.es/20180512/htw/kisspng-computer-icons-user-5af73f4c5d82c9.048741191526153036383.jpg" alt="Logo" width="30" height="24" ><span>Usuarios</span></a></i>
				</li>
			</ul>
			<!--			otro-->
			<ul>
				<li class="item active">
					<i class='bx bxs-dashboard'> <a href="/login/Mantenimiento"
							target="miContenedor"><img src="https://w7.pngwing.com/pngs/778/12/png-transparent-computer-icons-skype-icon-design-change-password-logo-internet-share-icon.png" alt="Logo" width="30" height="24" ><span>Cambiar Contraseña</span></a></i>
				</li>
			</ul>

		</nav>
	
		</div>
		<hr>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
</body>

</html>